<!-- Page Title -->
    <section class="page-title" style="background-image: url(assets/assetsL/images/background/8.jpg)">
        <div class="auto-container">
            <div class="side-icon">
                <img src="assets/assetsL/images/icons/page-title-icon.png" alt="" />
            </div>
            <h2>Contactanos</h2>
            <div class="side-tag">Contacto</div>
        </div>
    </section>
    <!-- End Page Title -->
    
    <!-- Map Section -->
    <section class="contact-map-section">
        <div class="outer-container">
            <!-- Map Boxed -->
            <div class="map-boxed">
                <!--Map Outer-->
                <div class="map-outer">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31731.053611013896!2d-75.59376691815349!3d6.213286362131405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428299b5aa6d9%3A0x2020c055ff96b671!2sEl%20Poblado%2C%20Medell%C3%ADn%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20Antioquia%2C%20Colombia!5e0!3m2!1ses!2sve!4v1655259369044!5m2!1ses!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- End Map Section -->
    
    <!-- Contact Info Section -->
    <section class="contact-info-section">
        <div class="auto-container">
            <div class="inner-container">
                <div class="row clearfix">
                
                    <!-- Info Box -->
                    <div class="info-box col-lg-3 col-md-6 col-sm-12">
                        <div class="box-inner">
                            <div class="icon flaticon-alarm-clock"></div>
                            <div class="text">Lunes - Sabado 9am - 6pm</div>
                            <h4>Horario</h4>
                        </div>
                    </div>
                    
                    <!-- Info Box -->
                    <div class="info-box col-lg-3 col-md-6 col-sm-12">
                        <div class="box-inner">
                            <div class="icon flaticon-email-5"></div>
                            <div class="text"><a href="mailto:hello@legales.com.co">hello@legales.com.co</a></div>
                            <h4>Escribenos</h4>
                        </div>
                    </div>
                    
                    <!-- Info Box -->
                    <div class="info-box col-lg-3 col-md-6 col-sm-12">
                        <div class="box-inner">
                            <div class="icon flaticon-telephone-1"></div>
                            <div class="text">Atenciòn al cliente via whatsapp</div>
                            <h4><a>(+57) 30 2623 1220</a></h4>
                        </div>
                    </div>
                    
                    <!-- Info Box -->
                    <div class="info-box col-lg-3 col-md-6 col-sm-12">
                        <div class="box-inner">
                            <div class="icon flaticon-pin"></div>
                            <div class="text">Medellín - El Poblado <br> Colombia</div>
                            <h4>Direcciòn</h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Info Section -->
    
    <!-- Contact Form Section -->
    <section class="contact-form-section">
        <div class="auto-container">
            <div class="inner-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="title">Contacto</div>
                    <h2>Escribenos</h2>
                    <div class="text">Atenderemos sus solicitudes brevemente.</div>
                </div>
                
                <!-- Contact Form -->
                <div class="contact-form">
                    <form method="post" action="" id="contact-form">
                        <div class="row clearfix">
                            
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="username" placeholder="Nombres" required="">
                            </div>
                            
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="email" name="email" placeholder="Email" required="">
                            </div>
                            
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="phone" placeholder="Telefono" required="">
                            </div>
                            
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="subject" placeholder="Asunto" required="">
                            </div>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <textarea class="" name="message" placeholder="Mensaje"></textarea>
                            </div>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center form-group">
                                <button class="theme-btn btn-style-four" type="submit" name="submit-form"><span class="txt">Enviar</span></button>
                            </div>
                            
                        </div>
                    </form>
                        
                </div>
                
            </div>
        </div>
    </section>
    <!-- End Contact Form Section -->