<div class="page-wrapper">
   
    <section class="main-slider-three">
        <!-- Social Box -->
        <ul class="social-icons">
            <li class="facebook"><a href="https://www.facebook.com/legales.com.co" class="fa fa-facebook-f" target="_blank"></a></li>
            <li><a href="https://instagram.com/legales.com.co?r=nametag" class="fa fa-instagram" target="_blank"></a></li>
            
        </ul>
        <div class="main-slider-carousel owl-carousel owl-theme">
            
            <div class="slide" style="background-image:url(assets/assetsL/images/main-slider/image-1.jpg)">
                <div class="color-layer"></div>
                <div class="auto-container">
                    <!-- Content boxed -->
                    <div class="content-boxed">


                        <div class="title">Legales </div>
                        <h1>Nos representa la seriedad y a usted, lo representamos nosotros.</h1>
                        <div class="link-box clearfix">
                            <a href="#" class="theme-btn btn-style-one"><span class="txt">Hablemos</span></a>
                        </div>
                    </div>
                </div>
                <div class="side-tag">Consultas</div>
            </div>
            
            <div class="slide" style="background-image:url(assets/assetsL/images/main-slider/image-2.jpg)">
                <div class="color-layer"></div>
                <div class="auto-container">
                    <!-- Content boxed -->
                    <div class="content-boxed">
                        <div class="title">Especialistas en derecho</div>
                        <h1>Penal / civil ,con gran referencia en procesos de alcoholemia y derecho inmobiliario.</h1>
                        <div class="link-box clearfix">
                            <a href="" class="theme-btn btn-style-one"><span class="txt">Solicitar cita</span></a>
                        </div>
                    </div>
                </div>
                <div class="side-tag">Consultas</div>
            </div>
            
            <div class="slide" style="background-image:url(assets/assetsL/images/main-slider/image-3.jpg)">
                <div class="color-layer"></div>
                <div class="auto-container">
                    <!-- Content boxed -->
                    <div class="content-boxed">
                        <div class="title">Solución rápida e inteligente</div>
                        <h1>Usted se merece los mejores <br> Abogados defensores</h1>
                        <div class="link-box clearfix">
                            <a href="#" class="theme-btn btn-style-one"><span class="txt">Ver servicios</span></a>
                        </div>
                    </div>
                </div>
                <div class="side-tag">Consultas</div>
            </div>
            
        </div>
        
    </section>
    
    <section class="cta-section-three">
        <div class="auto-container">
            <div class="inner-container">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="title">PROFESIONALES ALTAMENTE CAPACITADOS
                            <h3>No dude en pedir una consulta gratuita</h3>
                        </div>
                        <div class="pull-right">
                            <a href="" class="theme-btn btn-style-five"><span class="txt">Solicitar cita</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   

    <section class="about-section" id="about">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="pattern-layer" style="background-image:url(assets/assetsL/images/background/pattern-2.png)"></div>
                        <div class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <img src="assets/assetsL/images/resource/about.jpg" alt="" />
                        </div>
                        <div class="image-two wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <img src="assets/assetsL/images/resource/about-1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title">Sobre nosotros</div>
                            <h2>LEGALES | POLÍTICA DE CALIDAD</h2>
                        </div>
                        <div class="text">La disciplina, responsabilidad y compromiso en cada servicio jurídico prestado, así como el engranaje de nuestros procesos legales y su mejora continua, son la mayor garantía de satisfacción de nuestros clientes en los procesos liderados. Sin duda, el capacitado y talentoso capital humano de LEGALES, son el motor de nuestro éxito; liderado por la alta dirección,  plenamente comprometida en el cumplimiento de los requisitos legales y aplicables a nuestra labor y partes interesadas, y con el excelente desempeño del Sistema de Gestión de Calidad en nuestro proceso de alcholemia.</div>
                        <div class="row clearfix">
                            <div class="column col-lg-6 col-md-6 col-sm-12">
                                <!-- About Author Box -->
                                <div class="about-author-box">
                                    <div class="box-inner">
                                        <div class="upper-box">
                                            <div class="color-layer"></div>
                                            <div class="author-text">Legales. ofrece un equipo de abogados expertos en alcholometria, derecho civil y penal. </div>
                                        </div>
                                        <div class="lower-box">
                                            <div class="lower-box-inner">
                                                <div class="author-image">
                                                    <img src="assets/assetsL/images/resource/author-1.jpg" alt="" />
                                                </div>
                                                <div class="signature"><img src="assets/assetsL/images/icons/signature.png" alt="" /></div>
                                                <div class="designation">CEO y Co - Fundador</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column col-lg-6 col-md-6 col-sm-12">
                                <ul class="list-style-one">
                                    <li>Años de trayectoria</li>
                                    <li>Expertos y profesionales</li>
                                    <li>Excelente modelo operativo</li>
                                    <li>Solución comercial práctica</li>
                                    <li>Un bufete de abogados profesional</li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- Skills -->
                        <div class="skills">
                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="70">
                                            <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="law-image">
                <img src="assets/assetsL/images/resource/law.png" alt="" />
            </div>
        </div>
    </section>
    
    

    <section class="services-section" id="servicios">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title">
                <div class="title">Servicios</div>
                <h2>Nuestras areas de practica</h2>
            </div>
            <div class="three-item-carousel owl-carousel owl-theme">
                
                <!-- Service Block -->
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="assets/assetsL/images/resource/service-5.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <a href="derechoCivil.html" class="arrow flaticon-next-2"></a>
                            <h4><a href="derechoCivil.html">Derecho civil e inmobiliario</a></h4>
                            <div class="text">Asesoría, consultoría, apoyo y acompañamiento en las diferentes especialidades de ésta área,  extendiéndose hasta la representación extrajudicial y judicial de sus intereses.</div>
                            <div class="side-icon flaticon-auction"></div>
                        </div>
                    </div>
                </div>
                
                <!-- Service Block -->
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href=""><img src="assets/assetsL/images/resource/news-7.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <a href="#" class="arrow flaticon-next-2"></a>
                            <h4><a href="alcoholemia.html">Expertos en Alcoholemia</a></h4>
                            <div class="text">Como uno de nuestros servicios más populares, Te contamos que el  procedimiento, por el cual determinaron tu grado de alcoholemia es la clave..</div>
                            <div class="side-icon flaticon-cannabis"></div>
                        </div>
                    </div>
                </div>
                
                <!-- Service Block -->
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="derechoPenal.html"><img src="assets/assetsL/images/resource/news-5.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <a href="#" class="arrow flaticon-next-2"></a>
                            <h4><a href="derechoPenal.html">Derecho Penal </a></h4>
                            <div class="text">LEGALES se ha caracterizado por adelantar las defensas y asesorías penales  complejas  a nivel nacional  en los últimos años, siendo escogida y reconocida por la seriedad, compromiso, vocación y formación académica de su equipo de abogados.</div>
                            <div class="side-icon flaticon-protection"></div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    
   
   
    <section class="cta-section-two style-two">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h4>Obtenga las respuestas, la asesoría, la atención personalizada para su caso y el aprendizaje profesional que le abrirá puertas</h4>
                </div>
                <div class="pull-right">
                    <a href="" class="theme-btn btn-style-one"><span class="txt">Solicite ayuda</span></a>
                </div>
            </div>
        </div>
    </section>

    
    <section class="cta-section">
        <div class="pattern-layer" style="background-image:url(assets/assetsL/images/background/pattern-3.png)"></div>
        <div class="pattern-layer-two" style="background-image:url(assets/assetsL/images/background/pattern-4.png)"></div>
        <div class="auto-container">
            <div class="row clearfix">
                
                <!-- Content Column -->
                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="icon"><img src="assets/assetsL/images/icons/cta-icon.png" alt="" /></div>
                        <div class="title">Excelencia y Legalidad</div>
                        <h3>Nuestros profesionales cuentan con amplia y destacada experiencia académica y profesional en asuntos como: <br></h3>
                        <div class="column col-lg-12 col-md-12 col-sm-12">
                            <ul class="list-style-one">
                                <li>Asuntos y trámites concernientes al Derecho de Familia, en materia de alimentos, custodia, patria potestad, visitas, matrimonio, sociedad conyugal y unión marital de hecho.</li>
                                <li>Etapas Prejudiciales, Notariales y Judiciales en asuntos de Derecho de Sucesiones.</li>
                                <li>Absolución de consultas y elaboración de conceptos en materia civil y comercial.</li>
                                <li>Elaboración pro-forma de contratos civiles y comerciales.</li>
                                <li>Representación legal en procesos judiciales de naturaleza civil, responsabilidad contractual y extracontractual, sucesiones, propiedad y bienes, pertenencias, posesiones, obras civiles, construcciones, propiedad horizontal, bienes raíces, garantías, derecho policivo, entre otros.</li>
                            </ul>
                        </div>
                        
                        
                        <div class="btns-box">
                            <a href="tel:+573026231220" class="theme-btn btn-style-three" target="_blank"><span class="txt">Linea de whatsapp en vivo</span></a>
                            <a href="legales.html" class="theme-btn btn-style-four"><span class="txt">Saber mas</span></a>
                        </div>
                    </div>
                </div>
                
                <!-- Image Column -->
                <div class="image-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <img src="assets/assetsL/images/resource/cta.png" alt="" />
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
   
    <section class="testimonial-section">
        <div class="pattern-layer" style="background-image:url(assets/assetsL/images/background/pattern-5.png)"></div>
        <div class="pattern-layer-two" style="background-image:url(assets/assetsL/images/background/pattern-6.png)"></div>
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title">
                <div class="title">Testimonios</div>
                <h2>Lo que dicen nuestros <br> Clientes</h2>
            </div>
            <div class="testimonial-carousel owl-carousel owl-theme">
                
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content">
                            <div class="author-image">
                                <img src="assets/assetsL/images/resource/author-11.jpg" alt="" />
                            </div>
                            <h3>Lorena Gomez</h3>
                            <div class="designation">Cliente de defensa penal</div>
                            <div class="text">Legales, es uno de los bufete de abogados principales de Medellín y representa a clientes locales con seriedad y compromiso. </div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                        <div class="icon flaticon-quotes"></div>
                    </div>
                </div>
                
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content">
                            <div class="author-image">
                                <img src="assets/assetsL/images/resource/author-3.jpg" alt="" />
                            </div>
                            <h3>Julian Carrasco</h3>
                            <div class="designation">Cliente de defensa</div>
                            <div class="text">Soy un cliente reciente de Legales. Estaba agradecido cuando escuché que mi caso fue desestimado. Sé que su despido se debe a la calidad del trabajo que hizo la firma de abogados Legales. </div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                        <div class="icon flaticon-quotes"></div>
                    </div>
                </div>
                
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content">
                            <div class="author-image">
                                <img src="assets/assetsL/images/resource/author-10.jpg" alt="" />
                            </div>
                            <h3>Camila Fuenmayor</h3>
                            <div class="designation">Cliente de derecho civil</div>
                            <div class="text">Mi caso estaba perdido, tenia mi propiedad en manos de otras personas pero Gracias a Legales se justifico mi derecho sobre la propiedad y la recupere.</div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                        <div class="icon flaticon-quotes"></div>
                    </div>
                </div>
                
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content">
                            <div class="author-image">
                                <img src="assets/assetsL/images/resource/author-9.jpg" alt="" />
                            </div>
                            <h3>Jairo Soto</h3>
                            <div class="designation"></div>
                            <div class="text">Atente contra la seguridad publica, puse en riesgo mi vida y la de muchos ciudadanos, aun asi Legales me represento, los recomiendo. </div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                        <div class="icon flaticon-quotes"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
   
    <section class="team-section" id="equipo">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title">Equipo</div>
                <h2>Conozca a nuestros Abogados Defensores </h2>
            </div>
            <div class="team-carousel owl-carousel owl-theme">
                
                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="assets/assetsL/images/resource/team-1.jpg" alt="" /></a>
                            <div class="color-layer"></div>
                        </div>
                        <div class="overlay-content">
                            <div class="designation">ABOGADO ESPECIALISTA EN DERECHO PENAL</div>
                            <h5><a href="#">CRISTIAN TORRES</a></h5>
                            
                        </div>
                    </div>
                </div>
                
                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="assets/assetsL/images/resource/team-2.jpg" alt="" /></a>
                            <div class="color-layer"></div>
                        </div>
                        <div class="overlay-content">
                            <div class="designation">ABOGADO ESPECIALISTA EN DERECHO CIVIL </div>
                            <h5><a href="#">WEIMAR BUSTAMANTE</a></h5>
                            
                        </div>
                    </div>
                </div>
                
                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="assets/assetsL/images/resource/team-3.jpg" alt="" /></a>
                            <div class="color-layer"></div>
                        </div>
                        <div class="overlay-content">
                            <div class="designation">ABOGADO ESPECIALISTA EN DERECHO INMOBILIARIO</div>
                            <h5><a href="#">WILSON CONDE</a></h5>
                        </div>
                    </div>
                </div>
                
                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <div class="image">
                            <a href="#"><img src="assets/assetsL/images/resource/team-4.jpg" alt="" /></a>
                            <div class="color-layer"></div>
                        </div>
                        <div class="overlay-content">
                            <div class="designation">ABOGADO ESPECAILISTA EN PROCESOS DE ALCHOLEMIA</div>
                            <h5><a href="#">CRISTIAN TORRES</a></h5>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <section class="cta-section-four">
        <div class="auto-container">
            <div class="inner-container">
                <div class="pattern-layer-one" style="background-image:url(assets/assetsL/images/icons/cta-pattern-1.png)"></div>
                <div class="pattern-layer-two" style="background-image:url(assets/assetsL/images/icons/cta-pattern-2.png)"></div>
                <div class="row clearfix">
                    <!-- Title Column -->
                    <div class="title-column col-lg-9 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="icon flaticon-auction-2"></div>
                            <h3>Hable hoy con nuestros expertos</h3>
                            <div class="text">La firma de abogados Legales, tiene el talento legal que necesita para asesorarle, mitigar su angustia, generar confianza y ganar su caso.</div>
                        </div>
                    </div>
                    <!-- Button Column -->
                    <div class="button-column col-lg-3 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <a href="" class="theme-btn btn-style-three"><span class="txt">Contáctanos</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
   
    
</div>